.background {
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.popup {
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin: 20px;
  padding: 16px;
  width: 300px;
}

.editable:hover {
  background: #E5E5E5;
}

.color {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.color-boxes {
  position: absolute;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.info {
  display: inline-block;
}
